// Variables
$theme-color: #ff5c39;
$white: #ffffff;
$black: #000000;
$blue: #687bf7;
$lightblue: #72d9ef;
$cyan: #79e7eb;
$grey: #e4dfdf;

// Style

// .fc-day-grid-container{
//   height: 500px !important;
// }
#customized-dialog-title {
  .MuiTypography-h6 {
    font-size: 16px;
    font-weight: 600;
    max-width: 95%;
  }
  p {
    font-size: 14px;
  }
  button {
    color: $theme-color;
    .MuiButton-label {
      color: $theme-color;
    }
  }
}
.MuiDialogContent-root {
  .MuiTypography-root {
    font-size: 14px;
    a {
      font-size: 12px;
    }
  }
}
.descLink {
  color: $theme-color !important;
  cursor: pointer;
  text-decoration: none;
}

.fc-button-primary {
  background-color: $theme-color !important;
  border-color: $theme-color !important;
}

.MuiButton-containedPrimary {
  background-color: $theme-color !important;
  &.disabled{
    background-color: rgba(0,0,0,0.32) !important;
    cursor: not-allowed !important;
  }
}
.margin16px {
  margin-bottom: 16px;
}

.fc-button {
  .fc-icon {
    margin-top: -1px;
  }
}

.float-right {
  button {
    float: right;
    .MuiButton-label {
      font-size: 12px;
    }
  }
}
table {
  tbody {
    td {
      a {
        cursor: pointer;
      }
    }
  }
}
.MuiTypography-h6 {
  margin-top: -3px;
}
.msSpinner {
  height: 300px;
  display: flex;
  justify-content: center;
}


.borderPadding {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 16px;
  margin-bottom: 16px !important;
}
.inactive{
  background-color: rgba(109,173,63,1.0) !important;
  border: 1px solid rgba(109,173,63,1.0) !important;
}
.canceled{
  background-color: rgba(51,51,51,.50) !important;
  border: 1px solid rgba(51,51,51,0.50) !important;
}
.eventHover {
  background-color: $theme-color !important;
  border-color: $theme-color !important;
}
svg {
  fill: #ffbf00;
  padding-right: 5px;
  vertical-align: top;
}
// @media (min-width: 768px) {
//   .MuiDialog-paperWidthSm {
//     width: 550px;
//   }
// }
